player-connection-mode=Listen
player-connection-guid=940564005
player-connection-debug=1
player-connection-project-name=CS467 Capstone Project
player-connection-wait-timeout=-1
player-connection-ip=10.0.0.40
player-connection-ip=10.197.38.175
player-connection-ip=25.28.59.211
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
wait-for-managed-debugger=0
vr-enabled=0
hdr-display-enabled=0
